.Header {
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    height: 100px;
    left: 0px;
    margin-left: 0;
}
#header {
    margin-bottom: 110px;
}