.Table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 110px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px
  /* margin-left: auto;
  margin-right: auto; */
}

#Title {
  background-color: lightblue;
  font-size: 20px;
  border: 1px solid black;
  border-bottom: 0px;
}